#title {
  text-align: center;
}
#preto {
  background-color: black;
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 1px solid black;
}
#cinza {
  background-color: gray;
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 1px solid black;
}
#vermelho {
  background-color: red;
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 1px solid black;
}
#verde {
  background-color: green;
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 1px solid black;
}
.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  /* display: inline-block; */
  border: 1px solid black;
  float: left; 
}
#color-palette {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  display: inline-block;
  
 }
#pixel-board {
  margin: auto;
  border: 1px solid blue;
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
}