#title{
    text-align: center;
}

/* #color-palette{
    display: inline-block;
    
} */
#preto {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black ;
}
#cinza{
    background-color: gray;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black ;
}
#vermelho{
    background-color: red;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black ;
}
#verde{
    background-color: green;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black ;
    
}

.pixel{
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black ;
    float: left;
  
}
#pixel-board{
   
    /*  */height: 210px;
    width: 210px; 
    display: inline-block ;
    border: 1px solid blue
    
}
